In [9]:
import pandas as pd

df_list = []

for i in range(10):
    df_list.append(pd.DataFrame({'number':[i], 'square':[i**2], 'third':[i**3]}))
    
df_list

[   number  square  third
 0       0       0      0,
    number  square  third
 0       1       1      1,
    number  square  third
 0       2       4      8,
    number  square  third
 0       3       9     27,
    number  square  third
 0       4      16     64,
    number  square  third
 0       5      25    125,
    number  square  third
 0       6      36    216,
    number  square  third
 0       7      49    343,
    number  square  third
 0       8      64    512,
    number  square  third
 0       9      81    729]

In [12]:
pd.concat(df_list)

   number  square  third
0       0       0      0
0       1       1      1
0       2       4      8
0       3       9     27
0       4      16     64
0       5      25    125
0       6      36    216
0       7      49    343
0       8      64    512
0       9      81    729